/* =========================
   FONT PERSONALIZZATI
   ========================= */

/* Font Arsenica - usato per titolo */
@font-face {
  font-family: 'ArsenicaTrial';
  src: url('fonts/ArsenicaTrial-Bold.woff') format('woff');
  font-weight: 700;
  /* versione bold */
  font-style: normal;
}

/* Font Afacad Bold - usato per testi e menu */
@font-face {
  font-family: 'AfacadBold';
  src: url('fonts/AfacadBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


/* =========================
   RESET BASE
   ========================= */

/* 
   Imposta box-sizing su border-box per tutti gli elementi:
   padding e bordo vengono inclusi nelle dimensioni
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Rimuove il margine di default del browser */
body {
  margin: 0;
}


/* =========================
   HEADER PRINCIPALE
   ========================= */

/* Contenitore principale dell’header */
.section-header {
  display: flex;
  /* layout orizzontale */
  justify-content: space-between;
  /* elementi agli estremi */
  align-items: center;
  /* allineamento verticale */
  padding: 20px;
  background-color: #c44d4a;
  /* colore di sfondo */
  color: #fffef6;
  /* colore testo */
}


/* =========================
   BLOCCO SINISTRO HEADER
   ========================= */

/* Contiene icona home + testi */
.home-icone {
  display: flex;
  align-items: center;
  /* centra verticalmente */
  gap: 30px;
  /* spazio tra gli elementi */
  margin-top: 23px;
}


/* =========================
   TESTO HEADER
   ========================= */

/* Menu testuale (es. link di navigazione) */
.testo-header {
  font-family: AfacadBold, sans-serif;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  /* disposizione in riga */
  gap: 80px;
  /* spazio tra le voci */
}


/* =========================
   ICONE HEADER
   ========================= */

/* Contenitore delle icone */
.icone {
  display: flex;
  gap: 15px;
  /* spazio tra le icone */
}

/* Inverte il colore delle icone (utile su sfondo scuro) */
.icone img {
  filter: invert(1);
}


/* =========================
   TITOLO A DESTRA
   ========================= */

/* Titolo principale dell’header */
.title h1 {
  margin: 0;
  /* rimuove margine default */
  font-family: 'ArsenicaTrial', sans-serif;
  font-size: 45px;
  font-weight: 700;
}


/* =========================
   IMMAGINI / ICONE
   ========================= */

/* Icona lente e menu */
.lente,
.menu {
  width: 25px;
  height: 40px;
  cursor: pointer;
  /* cursore a mano */
}


/* =========================
   SEZIONE BACKGROUND
   ========================= */

/* Sezione con immagine di sfondo */
.vortice {
  width: 100%;
  height: 1000px;
  /* altezza fissa per rendere visibile l’immagine */

  background-image: url("resources/b.jpeg");
  background-size: cover;
  /* riempie tutta la sezione */
  background-position: center;
  /* centra l’immagine */

  display: flex;
  justify-content: right;
  /* contenuto a destra */
  padding-top: 50px;
  padding-right: 50px;
}

/* =========================
   BOTTONI
   ========================= */

/* Bottone "Accedi" */
.accedi {
  font-family: 'AfacadBold', sans-serif;
  background-color: #c44d4a; 
  border: 0;
  /* rimuove il bordo */
  padding: 15px 40px;
  /* verticale | orizzontale */
  color: #fffef6;
  border-radius: 30px;
  z-index: 2;
  /* angoli arrotondati */
}


.sezione-calo-lettori {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: #fffef6;
}


.paragrafo-calo-lettori {
  width: 100%;
  height: auto;
  margin-left: 64px;
  align-items: flex-start;
}


.titolo-calo-lettori {
  font-family: 'ArsenicaTrial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #c44d4a;
  margin-left: 64px;
  margin-top: 229px;
  text-align: left;
}

.titolo-calo-lettori-testo{
  margin: 0;
}


.sottotitolo-calo-lettori {
  margin: 0;
  margin-top: 4px;
  margin-left: 64px;
  font-family: 'AfacadSemiBoldItalic', sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: #c44d4a;
  text-align: left;
}

.sottotitolo-calo-lettori-testo{
  margin: 0;
  padding-bottom: 15px;
}


.testo-calo-lettori {
  font-family: 'AfacadRegular', sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #c44d4a;
  margin-left: 64px;
  margin-top: 16px;
  max-width: 501px;
  text-align: left;
}

.testo-calo-lettori-par1, 
.testo-calo-lettori-par2, 
.testo-calo-lettori-par3 {
  padding-bottom: 15px;
}

.book-shelf-div {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-top: 229px;
  object-fit: cover;
  display: block;
  align-items: flex-end;
}

.book-shelf-img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.prezzo-libri-section {
  width: 100%;
  height: auto;
  background-color: #fffef6;
  display: flex;
  justify-content: space-between;
}

.pila-libri {
  width: 100%;
  height: auto;
  margin-left: 185px;
  opacity: 0.7;
}

.prezzo-libri-text{
  min-width: 0;
  margin-top: 65px;
}
.prezzo-libri-titolo {
  font-family: 'ArsenicaTrial', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #c44d4a;
  margin: 0;
}

.prezzo-libri-sottotitolo {
  font-family: 'AfacadSemiBoldItalic', sans-serif;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: #c44d4a;
}

.prezzo-libri-paragrafi {
  width: 100%;
  height: auto;
  margin-left: auto;
  color: #c44d4a;
  margin-top: 40px;
}

.prezzo-libri-par1,
.prezzo-libri-par2,
.prezzo-libri-par3{
  font-family: "AfacadRegular", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.7;
  margin-top: 30px;
  padding-right: 22%;
}






.media-section {
  background-color: #fffef6; 
}

.media-section-container{
  display: flex;
  justify-content: space-between;
  flex-grow: 1
}

.media-text {
  padding-left: 40px;
  padding-right: 60px;
  color: #c44d4a;
}

.media-text-titolo h2 {
  font-family: 'ArsenicaTrial', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.media-text-sottotitolo{
  font-family: 'AfacadSemiBoldItalic', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.media-text-sottotitolo h3{
  font-size: 25px;
}

.media-text-sottotitolo h3{
  margin: 0;
  margin-top: 10px;
}
.media-text-paragrafi {
  display: flex;
  flex-direction: column;
  font-family: "AfacadRegular", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  width: 80%;
}

.media-text-paragrafi p{
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.media-text-immagine{
  width: 55%;
  height: auto;
  opacity: 0.7;
  overflow: hidden;
}

.media-text-immagine-img {
  width: 724px;
  height: 483px;
}

.media-text-colonnadestra {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
  margin-right: 20px;
}

.break {
  flex-basis: 215%;
  height: 0;
}

.media-text-testodestra {
  align-items: flex-end;
  font-family: "AfacadRegular", sans-serif;
  font-size: 18px;
  color: #c44d4a;
  line-height: 1.7;
}








.section-footer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fffef6;
}


.footer-background {
  position: absolute;
  inset: 0;
  overflow: hidden;
}


.footer-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;
  display: block;
}


.footer-box {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 2200px;
  height: 350px;
  background-color: #fffef6;
  border-radius: 16px;
}


.parte-superiore {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.colonna-sx {
  display: flex;
}


.footer-menu {
  list-style: none;
  padding: 0;
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: "AfacadSemiBold", sans-serif;
  font-size: 18px;
  color: #C44D4A;
  cursor: pointer;
}


.colonna-dx {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
  margin-top: -170px;
}


.footer-button {
  background: #C44D4A;
  color: #fffef6;
  border: 0;
  border-radius: 30px;
  padding: 15px 40px;
  align-self: flex-start;
  margin-left: 1600px;
}


.footer-newsletter {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}


.newsletter-content {
  display: flex;
  gap: 10px;
  align-self: flex-start;
  margin-left: 1575px;
}


.newsletter-text {
  font-family: "AfacadItalic", sans-serif;
  font-style: italic;
  color: #C44D4A;
  margin-bottom: 4px;
}


.newsletter-line {
  width: 344px;
  height: 3px;
  background: #C44D4A;
}


.newsletter-arrow {
  width: 25px;
  height: 25px;
}


.newsletter-arrow img {
  width: 25px;
  height: 15px;
  align-items: center;
  justify-content: center;
  margin-left: 357px;
  display: flex;
}


.footer-box {
  position: absolute;
}


.footer-FAQS {
  font-family: "AfacadSemiBold", sans-serif;
  font-size: 14px;
  color: #C44D4A;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  gap: 12px;
}


.line-FAQS {
  position: absolute;
  bottom: 110px;
  /* distanza dal fondo → regolabile */
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 60px);
  height: 1.5px;
  background-color: #C44D4A;
}


.parte-inferiore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 27px;
  /* stesso bordo sinistra/destra */
  margin-top: 18px;
  /* distanza dalla linea sopra */
}


.nome-sito {
  color: #c44d4a;
  font-family: 'ArsenicaTrial', sans-serif;
  font-size: 11px;
  font-weight: bold;
  list-style: none;
  padding: 0;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.copyright {
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  white-space: nowrap;
  color: #C44D4A;
  font-family: "AfacadSemiBold", sans-serif;
  font-size: 14px;
}


.social {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 82px;
}


.social-icon {
  align-items: center;
  justify-content: center;
}


.social-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}